<mat-toolbar color="primary">
  <div class="row container-fluid">
    <div class="col-md-6"><h1>{{navTitle}}</h1></div>
    <div class="col-md-6 d-flex align-items-center justify-content-end">
      <mat-icon>account_circle</mat-icon>
      <div class="ml-1" style="font-size: 1rem;">Administrator</div>
    </div>
  </div>
</mat-toolbar>

<!-- <mat-toolbar color="primary">
  <div>
    <span>My Documents</span>
    <span>
      <button mat-button>Home</button>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
    </span>
  </div>
</mat-toolbar> -->
