<span *ngFor="let document of docData">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header style="display: flex; align-items: center; justify-content: center">
          <mat-panel-description>
          <h4 style="margin: 0px">
            Passport Number <b>: {{ document.passportNumber }}</b>
          </h4>
          </mat-panel-description>
      </mat-expansion-panel-header>
      <div><app-passport-form></app-passport-form></div>
    </mat-expansion-panel>
  </mat-accordion>
</span>
