<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="row">
      <mat-form-field class="col-md-2 offset-1">
        <input
          matInput
          placeholder="First Name"
          formControlName="firstName"
          required
        />
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          placeholder="Middle Name"
          formControlName="middleName"
          required
        />
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          placeholder="Last Name"
          formControlName="lastName"
          required
        />
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          placeholder="Gender"
          formControlName="gender"
          required
        />
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          placeholder="nationality"
          formControlName="nationality"
          required
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-2 offset-1">
        <input
          matInput
          placeholder="Date Of Birth"
          formControlName="dateOfBirth"
          required
        />
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          placeholder="Country Of Birth"
          formControlName="countryOfBirth"
          required
        />
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          placeholder="City Of Birth"
          formControlName="cityOfBirth"
          required
        />
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          placeholder="State Of Birth"
          formControlName="stateOfBirth"
          required
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-2 offset-1">
        <input
          matInput
          placeholder="Place Of Issue"
          formControlName="placeOfIssue"
          required
        />
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          placeholder="date Of Issue"
          formControlName="dateOfIssue"
          required
        />
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="date Of Expiry"
          formControlName="dateOfexpiration"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <input
          matInput
          placeholder="country of issue"
          formControlName="countryOfIssue"
          required
        />
      </mat-form-field>
    </div>
    <!-- <div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="myForm.invalid"
      >
        Submit
      </button>
    </div> -->
  </div>
</form>
