/* You can add global styles to this file, and also import other style files */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  opacity: 0;
  transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
}

.ripple:active::after {
  width: 200%;
  height: 200%;
  opacity: 1;
}

.card {
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: perspective(1000px) rotateY(0deg) scale(1.05); /* Apply 3D transformations on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-arrow {
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  cursor: pointer;
  border-radius: 50px;
}

.left-arrow:hover {
  transform: perspective(1000px) rotateY(0deg) scale(1.30); /* Apply 3D transformations on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: center;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blueviolet;
}

.breadcrumb-item:last-child:hover {
  text-decoration: none;
  color: #6c757d;
  cursor: default;
}

.custom-size {
  font-size: 0.7rem;
}

.my-tooltip {
  background-color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 12rem;
  color: black !important;
  font-size: 1rem;
}

.custom-snackbar {
  color: yellow;
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
